   /*1. animate + margin-right*/
.left{
    background-color: #e69513;
    width: 300px;
    /*width: 30%;  左右两边都弹性*/
    float: left;
}

.right{
    background-color: #ff6879;
    margin-left: 320px;
}


/*    2. position设置absolute
.content{
    background-color: aliceblue;
    position: relative;
    height: 600px;
}
.left{
    position: absolute;
    background-color: #ff6879;
    width: 300px;
}
.right{
    position: absolute;
    left: 310px;
    background-color: cadetblue;
    right: 10px;
}
*/
